.accordion{
    border: 2px solid #E0E0E0;
    border-radius: 14px;
    margin: 20px 0;
}

.title{
    display: block;
    padding: 20px;
    color: #003E7E;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.content{
    border-top: 2px solid #E0E0E0;
    padding: 20px;
    color: #272727;
    font-size: 15px;
}


